.container {
    color: #FFF;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: x-small;
    margin: 0;
}

.chessboard {
    display:inline-block;
    vertical-align:middle;
}

.status {
    position: relative;
}
