.container {
    color: #FFF;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.chessboard {
    display:inline-block;
    vertical-align:middle;
}

.status, .info {
    position: absolute;
    text-align: center;
}

.info {
    font-size: x-large;
}
